.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}
.offer-card{
    transition:  all 0.5s;
    margin:0 0.8rem;
}
.offer-card:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}